<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldgroup>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br>
  </fieldgroup>
  <fieldgroup>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br>
	</fieldgroup>
  <fieldgroup>
    <%= f.label :email %>
    <%= f.text_field :email %><br>
  </fieldgroup>
  <fieldgroup>
    <%= f.label :password %>
    <%= f.text_field :password %><br>
		<%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %><br>
	</fieldgroup>
  <%= f.submit %>
<% end %>
